body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
  text-align: center;
}

header {
  background: #1e293b;
  padding: 40px;
}

section {
  padding: 30px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
